.error-page {
  height: 100vh;
  display: grid;
  padding: 4rem 0;
  background-color: var(--color-blue-darker);
  grid-template-columns: 1fr repeat(2, 50rem) 1fr;
  column-gap: 10rem;


  &__decoration {
    height:70rem;
    grid-column: 2 / 3;
    position: relative;
  }

  &__circle {
    border-width: 5px;
    border-style: solid;
    border-radius: 100%;
    position: absolute;
    background-color: transparent;
    animation: float 1s infinite ease-in-out alternate;

    &--blue {
      border-color: var(--color-blue);
      top: 0;
      left: 5rem;
      width: 32rem;
      height: 32rem;
    }

    &--purple {
      border-color: var(--color-purple);
      top: 7rem;
      right: 1.3rem;
      width: 8rem;
      height: 8rem;
      animation-delay: .2s;
    }

    &--red {
      border-color: #DE575F;
      top: 30rem;
      left: 0;
      width: 10.5rem;
      height: 10.5rem;
      animation-delay: .4s;
    }

    &--orange {
      border-color: #E37D4D;
      top: 31.5rem;
      right: 3rem;
      width: 24rem;
      height: 24rem;
      animation-delay: .6s;
    }

    &--green {
      border-color: var(--color-green);
      bottom: 4rem;
      left: 10rem;
      width: 14rem;
      height: 14rem;
      animation-delay: .8s;
    }
  }

  &__message {
    grid-column: 3 / 4;
    justify-self: start;
    align-self: center;

    & h2 {
      font-size: 2.8rem;
      font-weight: lighter;
      text-transform: lowercase;
      color: var(--color-white);

      & p {
        font-size: 7rem;
        font-weight: 300;
      }
    }
  }
}