.badge {
  display: inline-block;
  font-size: .7rem;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  padding: .35rem .65rem;
  color: var(--color-white);
  background-color: var(--color-secondary-dark);
  border-radius: 50rem;
  vertical-align: middle;

  &:not(:last-child) {
    margin-right: .5rem;
  }
}