.projectCard {
  margin-top: -25vh;
  padding-top: 25vh;
  padding-bottom: 8rem;
  background:{
    image: linear-gradient(to right bottom,
      var(--color-primary-dark),
      var(--color-secondary-light)),
      url('~assets/images/project_small.jpg');
    blend-mode: screen;
    position: center;
    size: cover;
  }
  @include respond-bgImg(medium) {
    background-image: linear-gradient(
      to right bottom,
      var(--color-primary-dark),
      var(--color-secondary-light)),
      url('~assets/images/project_medium.jpg');
	}
  @include respond-bgImg(large) {
    background-image: linear-gradient(
      to right bottom,
      var(--color-primary-dark),
      var(--color-secondary-light)),
      url('~assets/images/project_large.jpg');
	}
  @include respond(md) {
    margin-top: -15vh;
    padding-top: 15vh;
    padding-bottom: 7rem;
  };
  @include respond(sm) {
    margin-top: -10vh;
    padding-top: 10vh;
    padding-bottom: 6rem;
  };

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
  }

  &__item {
    perspective: 150rem;
    height: 55rem;
    width: 45rem;
    position: relative;
    margin: 0 4rem;
    margin-bottom: 8rem;
    @include respond(md) {
      height: 66.5rem;
    };

    &:hover .projectCard__side--front {
      transform: rotateY(-180deg);
      @include respond(md) {
        transform: rotateY(0);
      };
    }

    &:hover .projectCard__side--back {
      transform: rotateY(0);
      @include respond(md) {
        transform: rotateY(180deg);
      };
    }
  }

  &__side {
    height: 55rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .8s ease;
    backface-visibility: hidden;
    box-shadow: var(--shadow-dark-wider);
    @include respond(md) {
      height: 66.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    };

    &--front {
      background-color: var(--color-white);
      opacity: .85;
    }

    &--back {
      transform: rotateY(180deg);

      &-e-website {
        background-image: linear-gradient(to right bottom,
          var(--color-green),
          var(--color-teal-light));
      }

      &-todolist {
        background-image: linear-gradient(to right bottom,
          var(--color-cyan),
          var(--color-blue));
      }
    }
  }

  &__back {

    &-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: 7rem 0;
      margin: 0 auto;
    }

    &-heading {
      font-size: 2.8rem;
      font-weight: 450;
      color: var(--color-white);
    }
  }

  &__picture {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &--e-website {
      background-image: linear-gradient(to right bottom,
        var(--color-green-dark),
        var(--color-teal-dark)),
        url('~assets/images/e-website_small.jpg');
    }

    &--todolist {
      background-image: linear-gradient(to right bottom,
        var(--color-blue-dark),
        var(--color-purple-dark)),
        url('~assets/images/todolist_small.jpg');
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 450;
    text-align: right;
    color: var(--color-white);
    position: absolute;
    top: 16rem;
    right: 2rem;
    width: 50%;

    &--center {
      top: 18rem;
    }
  }

  &__heading-text {
      line-height: 1.6;
      padding: .4rem 1rem;
      box-decoration-break: clone;

      &--e-website {
        background-image: linear-gradient(to right bottom,
          var(--color-green-light), var(--color-teal));
        opacity: .85;
      }

      &--todolist {
        background-image: linear-gradient(to right bottom,
          var(--color-blue-light), var(--color-purple));
        opacity: .85;
    }
  }



  &__details {
    padding: 3rem;
  }

  &__list {
    width: 80%;
    list-style: none;
    margin: 0 auto;
  }

  &__list-item {
    font-size: 1.7rem;
    text-align: center;
    padding: 1.5rem;

    &:first-child {
      font-size: 2rem;
      font-weight: bolder;
    }
    &:not(:first-child) {
      width: 80%;
      margin: 0 auto;
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-gray-light);
    }
  }

  &__linkBox {
    display: none;
    @include respond(md) {
      display: block;
      text-align: center;
      padding: 5rem 0;
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

      &--e-website {
        background-image: linear-gradient(to right bottom,
          var(--color-green), var(--color-teal-light));
      }

      &--todolist {
        background-image: linear-gradient(to right bottom,
          var(--color-cyan), var(--color-blue));
      }
    };
  }
}