:root {
  --color-primary: hsl(38, 27%, 83%);
  --color-primary-light: hsl(35, 52%, 94%);
  --color-primary-dark: hsl(48, 23%, 70%);

  --color-secondary:hsl(53, 14%, 45%);
  --color-secondary-transparent: hsla(59, 22%, 42%, 0.8);
  --color-secondary-light: hsl(60, 21%, 63%);
  --color-secondary-dark: hsl(65, 24%, 31%);
  --color-secondary-dark-transparent: hsla(60, 30%, 21%, .8);

  --color-dark: hsl(228, 4%, 23%);

  --color-green: hsl(108, 33%, 48%);
  --color-green-light: hsl(110, 28%, 71%);
  --color-green-dark: hsl(108, 33%, 35%);

  --color-teal: hsl(174, 29%, 39%);
  --color-teal-light: hsl(161, 30%, 44%);
  --color-teal-dark: hsl(161, 32%, 29%);

  --color-cyan: hsl(194, 38%, 69%);

  --color-blue: hsl(209, 60%, 60%);
  --color-blue-light: hsl(209, 96%, 70%);
  --color-blue-dark: hsl(209, 70%, 41%);
  --color-blue-darker: hsl(231, 17%, 22%);

  --color-purple: hsl(246, 96%, 72%);
  --color-purple-dark: hsl(246, 59%, 49%);

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-black-transparent-high: hsla(0, 0%, 0%, 0.7);
  --color-black-transparent-low: hsla(0, 0%, 0%, 0.25);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-dark: hsl(0, 1%, 34%);
  --color-gray-light: hsl(0, 0%, 65%);
  --color-gray-lighter: hsl(0, 0%, 81%);

  --shadow-dark-wider: 0 1.5rem 4rem hsla(0, 0%, 0%, 0.2);
  --shadow-dark-wide: 0 1rem 2rem hsla(0, 0%, 0%, 0.2);
  --shadow-dark-slin: 0 .5rem 1rem hsla(0, 0%, 0%, 0.2);
  --shadow-light: 0 .7rem 2rem hsla(0, 0%, 0%, 0.12);
}
